// Mixins in here
.flex  {
display: flex;

}
.rcorners4 {
    border-radius: 15px;
    background: @button-bg;
    padding: 7px;
    width: 192px;
    height: 36px;
    color: white;
    font-size: 14px;
  }
