// Navigation Styles here

.navbar {
    .flex;
    max-width: 100%;
    justify-content: space-between;
    border-bottom:2px dashed black;
}

h1 {
    font-size: 60px;
    padding-top:10px;

    
}
    
nav {
    font-size: 20px;
    display: flex;
    align-items: center;

}
nav a {
    padding: 30px;
}