// Navigation Styles here


.navbar {
    .flex;
    max-width:960px;
    justify-content: space-between;
    border-bottom:2px dashed @navigation-border;
}

h1 {
  font-size: 60px;
  padding-top: 25px;
  padding-bottom: 3px;
  width:24%;

    
}
    .navbar {
      display: flex;
      justify-content: flex-end;
nav {
    font-size: 20px;
    display: flex;
    
}

}
nav a {
  margin-bottom: 15px;
  padding-right: 50px;
  text-decoration: none;
    color: black;

}


@media @mobile {


    header {
      flex-direction: column;
      justify-items: flex-start;
      padding:0;
    }
    h1 {
      justify-self: center;
      font-size: 28px;
      align-self: center;
      justify-self: center;
      width:28%;
  
     
      
  
    }
  nav {
    font-size: 20px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    
    a {
      padding:16px;
      
  }
    }
    }
  
    
  
  
  
  